# spring:
#   application:
#     name: secquote
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/security_estimate
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
server:
  port: 8080
